/**********************************/
/* ESTILOS GERAIS
/**********************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
}

a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}


hr{
    border:none;
    background-color: #6ddad3;
    height: 2px;
    width: 140px;
    margin: 20px auto;  
    
}


/**********************************/
/* HEADER
/**********************************/
.intro {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
   

}

.menu-bg {
    background-color: #132235;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__link {
    padding: 20px 10px;
}

/**********************************/
/* MAIN
/**********************************/

.main{
    width: 100%;
    
}

.somos{
    background-color: #132235;
    padding: 14px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section__titulo{
    font-size: clamp(2.25em, 1em + 3vw, 3.25em);
    color: blue;
    margin-bottom: 14px;
    text-align: center;
   
    
}

.section__titulo-d{
    font-size: clamp(2.25em, 1em + 3vw, 3.25em);
    color: #132235;
    margin-bottom: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px darkgray ;
}

.somos-c__texto{
    font-size: 20px;
    color: darkgrey;
    margin-bottom: 12px;
    text-align: justify;
    max-width: 990px;
    line-height: 1.3;

}

.produtos{
    background-color: #f5f5f5;
}

.produtos-c_subtitulo{
    font-size: clamp(20px, 1em + 1vw, 30px);
    margin-left: 10px;
    font-family: Nunito;
    color: black;
    text-align: center;
    

}

.produtos-c {
    width: 100%;
    height: 500px;
    margin: 0 auto;
   
}



.slide-container{
    display: flex;
    overflow-x: auto;
    width: 90vw;
    height: 98%;
    margin: 0 auto; 
    border-radius: 3px;
    box-shadow: 4px 4px 4px darkgrey;
}


.slide-container::-webkit-scrollbar{
    width: 7px;
   
}

.slide-container::-webkit-scrollbar-thumb{
    background-color: #132235;
    border-radius: 1px;
}


.slide-container > .slide1:nth-child(1){
    flex: none;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image/main/produtos-compartilhada01.jpg);
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  

}

.slide-container > .slide1:nth-child(2){
    flex: none;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image/main/produtos-compartilhada02.jpg);
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
}

.slide-container > .slide1:nth-child(3){

    flex: none;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image/main/produtos-compartilhada03.jpg);
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    

}

.slide-container > .slide2:nth-child(1){
    flex: none;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image/main/image-kitnet01.jpg);
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
    

}

.slide-container > .slide2:nth-child(2){

    flex: none;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image/main/image-kitnet02.jpg);
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   

}

.slide-container > .slide2:nth-child(3){

    flex: none;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image/main/image-kitnet03.jpg);
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  

}

.slide-p{
    margin-bottom: 25px;
    font-family: Nunito;
    color: white;
    text-align: center;
    font-size: 16px;
    
    
}



.slide-btn{
    font-size: 12px;
    background-color: #6DDAD3;
    border: none;
    padding: 7px 8px;
    border-radius: 3px;
    margin-bottom: 15px;
    color: #132235;
    /* font-weight: bold; */
    cursor: pointer;
    box-shadow: 0 0 2em  white;


}

.slide-btn:hover{
    background-color: #132235;
    color:white;

}
.cases{
    background-color: #132235;
    height: auto;
   

    
}

.cases-c{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
   
    
}

.cases-c .case{
    position: relative;
    max-width: 300px;
    height: 420px;
    background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
   
}


.cases-c .case .case-img{
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 4px;
    top: -40px;
    left: 20px;
    box-shadow: 0 5px 20px (rgba(0,0,0,0.2));
    
}

.cases-c .case .case-img img{
    max-width: 100%;
  
    
}

.cases-c .case .case-content{
    padding: 0px 15px;
    text-align: center;
    color: black;
    

}


.case-content__titulo{
    position: relative;
    bottom: 20px;
    font-family: Nunito;
    font-weight: bold;
   
}


/* *********************************/
/* FOOTER
/**********************************/
.footer {
flex-wrap: wrap;
}

.footer-principal {
    background-color: #132235;
    max-width: 100%;
    
    
}

.contato__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: black;
}



/**********************************/
/* BREAKPOINTS RESPONSIVIDADE
/**********************************/

@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
    
    .produtos-c {
        height: 300px;
 
    }

    .somos-c__texto{
        font-size: 16px;
    }

    .slide-p{
        font-size: 14px;
        
        
    }

}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .somos-c__texto{
        font-size: 14px;

    }
    
    .produtos-c {
        width: 100%;
        height: 300px;
       
        
    }

    .slide-container{
        display: flex;
        overflow-x: auto;
        width: 100%;
        height: 98%;
        margin: 0 auto; 
         border-radius: 0px;
        box-shadow: 3px 3px 3px darkgrey;
        
    
    }

    .slide-container > .slide1:nth-child(1){
        width: 100%;
        background-position: 100%;
       
    
    }

    .slide-container > .slide1:nth-child(2){
        width: 100%;
        background-position: 100%;
       
    
    }

    .slide-container > .slide1:nth-child(3){
        width: 100%;
        background-position: 100%;
       
    
    }

    .slide-container > .slide2:nth-child(1){
        width: 100%;
        background-position: 100%;
       
    
    }

    .slide-container > .slide2:nth-child(2){
        width: 100%;
        background-position: 100%;
       
    
    }

    .slide-container > .slide2:nth-child(3){
        width: 100%;
        background-position: 100%;
       
    
    }
    
    .slide-p{
        font-size: 12px;   
        
    }

 
    .slide-btn{
        padding: 5px 6px;

  }

}